h1{
    width: 100%;
    max-width: 600px;
    border: 2px dotted #000075;
    margin: auto;
    text-align: center;
    padding: 20px;
}
section{
    width: 40%;
    float: left;
    border: double 3px blue;
    margin: 40px;
    padding: 35px 45px;
    border-radius: 30px;
    background-image: url(../../html.png);
    background-position: 50% 50%;
}